/* El código css es legible, con nombres significativos */
.mi-pie-de-pagina {
  height: 70px;
}

.imagen-pie-de-pagina {
  height: 50px;
  width: 50px;
}

.imagen-arriba {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tabla-bio {
  width: 100%;
}

.mismo-ancho-tabla {
  width: 14%;
}

.color-botones {
  background-color: rgba(0, 150, 100, 0.89);
}

@media screen and (max-width: 800px) {
  #nombre {
    font-size: 25px;
  }
}

@media screen and (min-width: 801px) {
  #nombre {
    font-size: 45px;
  }
}

/*Agrandar un poco el tamaño de la fuente*/
p, table{
  font-size: 1.5rem;
}

li a{
  font-size: 1.5rem;
}

h2{
  font-size: 2rem;
}

